<launch>
  <include file="$(find zed_wrapper)/launch/zed.launch" />
  <group ns="rtabmap">

    <!-- Odometry -->
    <node pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry" output="screen">

      <remap from="rgb/image"       to="/camera/rgb/image_rect_color"/>
      <remap from="depth/image"     to="/camera/depth/depth_registered"/>
      <remap from="rgb/camera_info" to="/camera/depth/camera_info"/>

      <param name="frame_id" type="string" value="zed_initial_frame"/>
    </node>

<!--
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start Odom/Strategy=1 Odom/GuessMotion=true Vis/EstimationType=1 Vis/CorType=1">
          <param name="frame_id" type="string" value="zed_initial_frame"/>
          <param name="subscribe_depth" type="bool" value="true"/>

          <remap from="odom" to="/camera/odom"/>
          <remap from="rgb/image" to="/camera/rgb/image_rect_color"/>
          <remap from="depth/image" to="/camera/depth/depth_registered"/>
          <remap from="rgb/camera_info" to="/camera/rgb/camera_info"/>

          <param name="queue_size" type="int" value="10"/>

    
    <param name="RGBD/AngularUpdate" type="string" value="0.05"/>
    <param name="RGBD/LinearUpdate" type="string" value="0.05"/>
    <param name="Rtabmap/TimeThr" type="string" value="700"/>
    <param name="Mem/RehearsalSimilarity" type="string" value="0.45"/>
    <param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>
    <param name="Odom/Strategy" type="string" value="1"/>
    <param name="Reg/Strategy" type="string" value="1"/>
    <param name="Odom/GuessMotion" type="string" value="true"/>
    <param name="Vis/EstimationType" type="string" value="1"/>
    <param name="Vis/CorType" type="string" value="1"/>
    </node>
-->
  </group>
</launch>

