<!-- zed_rtabmap.launch -->
<launch>

  <include file="$(find zed_wrapper)/launch/zed.launch" />
  <remap from="/zed" to="/camera"/>
  <arg name="rviz" default="false" />
  <arg name="rtabmapviz" default="false" />
  <node name="camera_to_zed_frame"
    pkg="tf" type="static_transform_publisher"
    args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 camera_link zed_initial_frame 100" />
  <include file="$(find rtabmap_ros)/launch/rgbd_mapping.launch">
    <param name="RGBD/AngularUpdate" type="string" value="0.01"/>
    <param name="RGBD/LinearUpdate" type="string" value="0.01"/>
    <param name="Rtabmap/TimeThr" type="string" value="700"/>
    <param name="Mem/RehearsalSimilarity" type="string" value="0.45"/>
    <param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>
    <param name="Odom/Strategy" type="string" value="1"/>
    <param name="Odom/GuessMotion" type="string" value="true"/>
    <param name="Vis/EstimationType" type="string" value="1"/>
    <param name="Optimizer/Slam2D" type="string" value="true"/>
    <param name="Vis/CorType" type="string" value="1"/>
    <param name="Vis/MinInliers" type="string" value="10"/>
    <remap from="odom" to="/camera/odom"/>
    <arg name="rtabmap_args" value="--delete_db_on_start" />
    <arg name="depth_registered_topic" value="/camera/depth/depth_registered" />
    <arg name="rviz" value="$(arg rviz)" />
    <arg name="rtabmapviz" value="$(arg rtabmapviz)" />
  </include>
</launch>
